* {
  box-sizing: border-box;
  border: 1px red solid;
}

body {
  background-color: rgb(100, 100, 100);
  color: white;
}

#container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(58, 1fr);
  grid-template-rows: repeat(58, 1fr);
  gap: 0px 0px;
}

.cell {
  background: white;
  height: 25px;
  width: 25px;
  margin: auto;
}
