* {
  box-sizing: border-box;
  /* border: 1px #ff0000 solid; */
}

body {
  background-color: rgb(100, 100, 100);
  color: white;
  display: block;
}

.slider-container > input,
p {
  border: 5px green solid;
  margin: auto;
  width: 12rem;
  display: block;
  text-align: center;
}

.wrapper {
  display: block;
}

#buttons {
  margin: auto;
}

#container {
  margin: auto;
  display: grid;
  grid-template-columns: auto repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
  height: 30rem;
  width: 30rem;
}

#cell {
  background: white;
  border: rgba(100, 100, 100, 0.08) 1px solid;
  height: auto;
  width: auto;
}

#cell:hover {
  background-color: #000000;
}
